<section class="about-section" id="about-us">
    <div class = "container">
    <div class="about-container">
    <h2 class="about-header">Про Нас</h2>
    <p class="about-textcontent"> У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що приносять радість та задоволення. Наша місія —
    пропонувати високоякісні десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та естетичний вигляд.</p>
    </div>
    <div class="about-swiper-box">
    <div class ="swiper about-swiper">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <img src="/img/about-us/aboutus-1-1x.jpg" 
                srcset="/img/about-us/aboutus-1-1x.jpg 1x, /img/about-us/aboutus-1-2x.jpg 2x"
                alt="Наповнення еклерів кремом"
                width="644" 
                height="478"/>
            </li>
            <li class="swiper-slide">
                <img src="/img/about-us/aboutus-2-1x.jpg"
                    srcset="/img/about-us/aboutus-2-1x.jpg 1x, /img/about-us/aboutus-2-2x.jpg 2x"
                    alt="Команда кондитерів обговорює десерти" 
                    width="644"
                    height="478"/>
            </li>
            <li class="swiper-slide">
                <img src="/img/about-us/aboutus-3-1x.jpg"
                    srcset="/img/about-us/aboutus-3-1x.jpg 1x, /img/about-us/aboutus-3-2x.jpg 2x"
                    alt="Інтер'єр майстерні з десертами" 
                    width="644" 
                    height="478"/>
            </li>
            <li class="swiper-slide">
                <img src="/img/about-us/aboutus-4-1x.jpg"
                    srcset="/img/about-us/aboutus-4-1x.jpg 1x, /img/about-us/aboutus-4-2x.jpg 2x"
                    alt="Дівчина ласує тортиком" 
                    width="644" 
                    height="478"/>
            </li>
            </ul>
            </div>
            <button type="button" class="about-swiper-btn-prev" aria-label="Попередній слайд">
                <svg class="about-swiper-icon" width="24" height="24">
                    <use href="/img/symbol-defs.svg#icon-arrow_back"></use>
                </svg>
            </button>
            <button type="button" class="about-swiper-btn-next" aria-label="Наступний слайд">
                <svg class="about-swiper-icon" width="24" height="24">
                    <use href="/img/symbol-defs.svg#icon-arrow_forward"></use>
                </svg>
            </button>
            <div class="about-swiper-pagination"></div>     
    </div>
    </div>
</section>
