<section id="header" class="header">
    <div class="container header-container">
        <a href="index.html" class="logo-header" aria-label="Home">
            <svg class="logo-icon-header" width="158" height="72">
                <use href="../img/symbol-defs.svg#icon-logo"></use>
            </svg>
        </a>
        <nav class="header-nav">
            <ul class="menu">
                <li><a href="./index.html" class="menu-set current">Солодощі</a></li>
                <li><a href="./about-us.html" class="menu-set current">Про нас</a></li>
                <li><a href="./reviews.html" class="menu-set current">Відгуки</a></li>
                <li><a href="./faq.html" class="menu-set current">Часті питання</a></li>
            </ul>
            <button type="button" class="header-btn">До покупок</button>
        </nav>
        <button type="button" class="menu-burger-btn" aria-label="Open menu">
            <svg class="icon-menu" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</section>