<section class="spl-section-products-list">
  <div class="spl-heading-cover">
    <hgroup class="spl-hgroup">
      <ul class="listOfInfoElements">
        <li>
          <h2 class="spl-hgroup-h2">Солодощі</h2>
        </li>
        <li>
          <p class="spl-hgroup-p">
            Спробуйте наші смачні десерти, які вас здивують!
          </p>
        </li>
      </ul>
    </hgroup>
    <form>
      <div class="coverOfSelect">
        <select name="category" class="spl-list-select">
          <option>Всі десерти</option>
          <option>Італійські десерти</option>
          <option>Гарячі десерти</option>
          <option>Заварні тістечка</option>
          <option>Класичні торти</option>
          <option>Легкі десерти</option>
          <option>Незвичайні десерти</option>
          <option>Французькі тістечка</option>
          <option>Фруктові десерти</option>
          <option>Холодні десерти</option>
          <option>Шоколадні випічки</option>
        </select>
        <div class="coverOfInputs">
          <button class="button-secondary" name="Всі десерти">
            Всі десерти
          </button>
          <button class="button-secondary" name="Італійські десерти">
            Італійські десерти
          </button>
          <button class="button-secondary" name="Гарячі десерти">
            Гарячі десерти
          </button>
          <button class="button-secondary" name="Заварні тістечка">
            Заварні тістечка
          </button>
          <button class="button-secondary" name="Класичні торти">
            Класичні торти
          </button>
          <button class="button-secondary" name="Легкі десерти">
            Легкі десерти
          </button>
          <button class="button-secondary" name="Незвичні десерти">
            Незвичні десерти
          </button>
          <button class="button-secondary" name="Французькі тістечка">
            Французькі тістечка
          </button>
          <button class="button-secondary" name="Фруктові десерти">
            Фруктові десерти
          </button>
          <button class="button-secondary" name="Холодні десерти">
            Холодні десерти
          </button>
          <button class="button-secondary" name="Шоколадні випічки">
            Шоколадні випічки
          </button>
        </div>
      </div>
    </form>
  </div>
  <ul class="spl-deserts-list"></ul>
  <button class="button-primary">Завантажити ще</button>
</section>
