<section class="feedback-section" id="reviews">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">
      Найкращі десерти, які я коли-небудь куштував!
    </p>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper" id="feedback-container"></div>
    </div>
    <div class="controls-wrapper">
      <div class="swiper-pagination feedback-pagination"></div>
      <div class="nav-buttons">
        <button
          type="button"
          class="swiper-btn swiper-btn-prev"
          aria-label="Назад"
        >
          <svg class="swiper-btn-icon" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-arrow_back"></use>
          </svg>
        </button>
        <button
          type="button"
          class="swiper-btn swiper-btn-next"
          aria-label="Вперед"
        >
          <svg class="swiper-btn-icon" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
