.caption-card{
  position: relative;
  border-radius: 16px;
  padding: 64px 20px;
  /* width: 335px;
  height: 711px; */
  background: var(--color-scheme-1-background);
}

.modal-close{
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  line-height: 1;
}

.caption-img{
  width: 295px;
  height: 221px;
}

.caption-info{
  width: 295px;
  height: 338px;
}

.name-desert{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.price{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.dessert-rating{

}

.card-description{

}

.desert-composition{

}

.modal-open{

}
